<html>
<head>
  <meta name="google-site-verification" content="7kNes4_ZZZxK2SmNwu1AB1fFQtxf_ZyFxSJ_4su_LDU" />
  <title> About &raquo; oz123.github.com</title>
  <link rel="stylesheet" type="text/css" href="/media/css/pygments_style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/media/css/site.css" media="screen" />
  
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="oz123.github.com &raquo; Oz's Weblog" />
</head>
<body>
<div id="page" class="loading">
  <div id="header">
  </div><!--/#header-->
  <div id="content">
    <div id="about_me">
    <img id="me" class="me" src="/media/img/lustig.jpg" />

    <p>This blog is maintained by <strong>Oz Nahum Tiram</strong>, a passionate <a href="http://www.python.org">Python</a> programmer, 
    and <a href="http://en.wikipedia.org/wiki/Free_and_open_source_software">
    <acronym title="Free and Open Source Software">FOSS</acronym></a> evangelist, who really likes <a href="http://www.debian.org">Debian</a>. 
    </p>
    <p>Currently he works for <a href="http://www.science+computing">Science+Computing AG</a> where he supports Linux users designing German Autos 
    and doing CFD using HPC clusters. Besides installing and configuring Linux workstations and clusters he writes scripts, provides 2nd level support and 
    all kind of other things like staring at the blinking lights in the server room. 
    </p>


    <h3>Colophon</h3>
    <p>A <a href="http://github.com/mnazim/mnazim.github.com/blob/master/make.py">sloppy python script</a> 
    generates the static html from a bunch of Markdown formated files; 
    The code can be found in <a href="https://github.com/oz123/blogit">GitHub</a>.</p>
    <p><em>Internet Explorer is for neanderthals, please get a <a href="http://getamodernbrowser.com">modern browser</a></em>.</p>
    </small>
    </div><!--/#about_me-->
  </div><!--/#content-->
  <div id="footer">
    <p>&copy; Oz Nahum Tiram 2012. Some Rights Reserved</p>
  </div>
</div><!--/#page-->

<div id="nav">
  <div><img src="/media/img/me.png"></div>
  <a title="Home" href="/">home</a>
  <a title="About" class="about" href="about.html">about</a>
  <a title="Archive" class="about" href="archive/">archive</a>
  <a title="Atom feeds" href="atom.xml">atom</a>
  <a title="Twitter" href="https://twitter.com/#!/OzNTiram">twitter</a>
  <a title="Stackoverflow" href="http://stackoverflow.com/users/492620/oz123">stackoverflow</a>
  <a title="Github" href="https://github.com/oz123">github</a>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36587163-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
