{% extends "base.html" %}
{% block page_title %} {{ entry.title }} {% endblock %}
{% block header %}
<div class="published"><a href="{{site_url}}">{{ entry.author }}</a> &ndash; {{ entry.published_html }}</div>
<h1>{{ entry.title }}</h1>
{% endblock %}
{% block content %}
<div class="body">
  {{ entry.body_html }}
</div>
<div class="meta">
  {% if entry.kind == 'link' %}
  <div class="link-url"><a href="{{ entry.url }}">continue reading on {{ entry.domain_name }}</a></div>
  {% endif %}
</div>
<div class="tags">
  <p>This entry was tagged
  {% for tag in entry.tags %}
  <a class="tag" href="/tags/{{ tag.slug }}"><span>{{ tag.name }}</span></a>{% if not loop.last %}, {% endif %}
  {% endfor %}
</div>
<div id="underpost">
  <h3>Discussions/Feedback.</h3>
</div>
<!--creadet by entry.html-->
{% include 'discuss.html' %}
{% endblock %}


