{% extends "base.html" %}
{% block title %} {{ entry.title }} {% endblock %}
{% block content %}
<div class="index">
<div id="header" class="published"><a href="{{site_url}}">{{ entry.author }}</a> &ndash; {{ entry.published_html }}</div>
<h1>{{ entry.title }}</h1>
  {{ entry.body_html }}

<div class="tags">
  <p>This entry was tagged
  {% for tag in entry.tags %}
  <a class="tag" href="/tags/{{ tag.slug }}"><span>{{ tag.name }}</span></a>{% if not loop.last %}, {% endif %}
  {% endfor %}
</div>
<div id="underpost">
  <h3>Discussions/Feedback.</h3>
  {% include 'discuss.html' %}
</div>
</div>
{% endblock content %}

{% block body %}
{{ super() }}
{% set static_prefix = "../../" %}
{% endblock body %}
