<html>
<head>
  <meta name="google-site-verification" content="7kNes4_ZZZxK2SmNwu1AB1fFQtxf_ZyFxSJ_4su_LDU" />
  <title> About &raquo; oz123.github.com</title>
  <link rel="stylesheet" type="text/css" href="/media/css/pygments_style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/media/css/site.css" media="screen" />
  
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="oz123.github.com &raquo; Oz's Weblog" />
</head>
<body>
<div id="page" class="loading">
  <div id="header">
  </div><!--/#header-->
  <div id="content">
      <h1>Oh ... I am sorry ... I see you are using Internet Explorer</h1>
      <p>Unfortunately, I don't. Since I write this blog in my own free
      time, not much is left to fix the theme to be properly viewed by IE.
      Personaly, I think if you already paid, for a Browser, it should do
      a decent job, displaying pages...</p>
      <p>You could write a letter to Microsoft (angry or polite, depending on
      your style), or you could learn how to program, and send me a patch
      to fix my theme, or you could apply for a job in Microsoft and fix IE;
      You could also buy enough Microsoft shares and become a Directorate member.
      </p>
      Alternatively, you can get a <a title="better Web Browser" href="http://getfirefox.com">better Web Browser</a>.
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p>Are you still here? I thought, you went grabbing a <a title="better Web Browser" href="http://getfirefox.com">better Web Browser</a>.
better browser. Go! and come back soon, with a <a title="better Web Browser" href="http://getfirefox.com">better Web Browser</a>.


</div><!--/#page-->

</body>
</html>
